<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3" *ngFor="let item of products">
    <p-card styleClass="p-card-shadow" class="text-base">
      <ng-template pTemplate="header">
        <img src="{{ item.images[0].includes('https')? item.images[0]: '../../../../../../assets/demo/images/error/producto-default.jpg' }}" alt="logo">
       
      </ng-template>

      <h5 class="content">{{item.title}}</h5>

      <p class="text-500 content">{{ item.description }}</p>

      <p>
        <span class="text-blue-500">{{ item.price | currency }} </span>
      </p>

      <button pButton type="button" label="VIEW DATAIL" class="p-button-sm" (click)="show(item.id)"></button>
    </p-card>
  </div>
</div>