<div class="layout-footer">
    <div class="grid">
        <div class="col-12">
            <img src="assets/layout/images/nexsysLogo.png" alt="logo" height="50" class="mr-2">
            <img src="assets/layout/images/facebook-social-logo.png" alt="logo" height="20" class="mr-2 mb-3">
            <img src="assets/layout/images/twitter.png" alt="logo" height="20" class="mr-2 mb-3">
            <img src="assets/layout/images/instagram.png" alt="logo" height="20" class="mr-2 mb-3">
            <img src="assets/layout/images/linkedin.png" alt="logo" height="20" class="mr-2 mb-3">
            <img src="assets/layout/images/pinterest.png" alt="logo" height="20" class="mr-2 mb-3">
        </div>
    </div>
</div>