<p-card *ngIf="product">
  <div class="grid">
    <p-divider align="left">
      <button pButton pRipple type="button" icon="pi pi-angle-left" label="Back to list" class="p-button-secondary p-button-text"
        (click)="back()"></button>
    </p-divider>
  </div>

  <div class="grid">
    <div class="col-12 sm:col-12 lg:col-6 ">

      <p-carousel [value]="product.images" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1"
        [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">

        <ng-template let-product pTemplate="item">
          <div class="product-item">
            <div class="product-item-content">
              <div class="mb-3">
                <img [src]=product [alt]=product class="product-image" />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <div class="col-12 sm:col-12 lg:col-6">
      <div class="m-5">
        <div>
          <i class="pi pi-tag product-category-icon"></i>
          <span class="product-category">{{product.category.name}}</span>
        </div>
        <h3 class="mb-1 text-red-600"> {{ product.title }}</h3>

        <h4>
          <span class="mt-0 mb-3">{{ product.price | currency }} </span>
        </h4>

        <p class="text-500">{{ product.description }}</p>

        <button pButton type="button" label="ADD TO CART" class="p-button-sm p-button-danger"></button>
      </div>
    </div>
  </div>

  <div class="grid hidden lg:flex sm:flex md:flex" *ngIf="product.images">
    <div class="col-6 flex text-center align-items-center justify-content-center">
      <p-image *ngFor="let item of product.images" [src]=item width="80%" class="mx-1" [preview]="true">
      </p-image>
    </div>
  </div>
</p-card>